body {
    background-color: #ec9edf;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    text-align: center; 
}

.newnote {
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.btn-pink {
    background-color: #ff69b4; 
    color: #fff; 
    border-color: #ff69b4; 
}

footer {
    background-color: #ee52c7; 
    color: #08010c; 
    padding: 10px; 
    text-align: center; 
    position: fixed; 
    width: 100%; 
    bottom: 0; 
}


