
body {
    background-color: #ec9edf;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    text-align: center; 
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 7vh;
    background-color:  #ec9edf;
}

.btn-pink {
    background-color: #ff69b4; /* Color rosado */
    color: #fff; /* Texto blanco */
    border-color: #ff69b4; /* Borde del mismo color que el fondo */

}


.container1 {
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.container2 {
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.container3 {
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

footer {
    background-color: #ee52c7; 
    color: #08010c; 
    padding: 10px; 
    text-align: center; 
    position: fixed; 
    width: 100%; 
    bottom: 0; 
}